# Dataframes con el módulo `pandas`

## Introducción

**Dataframe.** Es una estructura bidimensional mutable de datos con los ejes etiquetados donde

- cada fila representa una observación diferente
- cada columna representa una variable diferente

En `Python`, para definir un dataframe, en primer lugar necesitamos importar el módulo `pandas`.

In [1]:
import pandas as pd

A continuación, si queremos un dataframe de 5 filas y 2 columnas, podemos hacerlo a partir de un diccionario, una lista de listas, una lista de diccionarios, etc.

---

#### Ejemplo 1

Vamos a crear un dataframe de 5 filas y 2 columnas a partir de un diccionario.

Para ello, primero creamos un diccionario donde las claves serán los nombres de las columnas y los valores serán listas, con tantos elementos como número de filas queramos.

Finalmente, convertimos ese diccionario a dataframe con la función `DataFrame()` de `pandas`:

In [2]:
data = {"x": [1, 2, 3, 4, 5], "y": [2, 4, 6, 8, 10]}
df1 = pd.DataFrame(data = data)
print(df1)

   x   y
0  1   2
1  2   4
2  3   6
3  4   8
4  5  10

Como habíamos dicho, hemos creado un dataframe de 5 filas y dos columnas, llamadas `x` e `y` respectivamente.

**Observación.** Como resultado del `print()`, no solamente hemos obtenido las 5 filas y 2 columnas, sino que hay una columna adicional de 5 números ordenados verticalmete del 0 al 4. Se trata simplemente del nombre de cada fila, que por defecto es el índice de cada fila. El 0 indica la primera fila; el 1, la segunda; y así, sucesivamente.

---

#### Ejemplo 2

Vamos a crear el mismo dataframe de 5 filas y 2 columnas, pero esta vez a partir de una lista de listas.

En este caso, podemos hacerlo directamente con la función `DataFrame()` de `pandas`, usando los parámetros `data` y `columns`

In [3]:
df2 = pd.DataFrame(data = [[1, 2], [2, None, 3], [3, 6], [None, 8, 8], [5, 10, 9]],
                   columns = ["x", "y", "z"])
print(df2)

     x     y    z
0  1.0   2.0  NaN
1  2.0   NaN  3.0
2  3.0   6.0  NaN
3  NaN   8.0  8.0
4  5.0  10.0  9.0

Al parámetro `data` le hemos proporcionado una lista de 5 listas, donde cada una de las sublistas tiene 2 elementos: el perteneciente a la primera columna en la posición 0, y el perteneciente a la segunda columna en la posición 1.

Al parámetro `columns` le hemos proporcionado el nombre de las 2 columnas.

---

#### Ejemplo 3

Vamos a crear el mismo dataframe de 5 filas y 2 columnas, con la diferencia de que vamos a modificar el nombre de las filas.

Lo haremos a partir del diccionario `data` y utilizaremos el parámetro `index` de la función `DataFrame()` de `pandas`

In [4]:
df3 = pd.DataFrame(data = data, index = ["obs1", "obs2", "obs3", "obs4", "obs5"])
print(df3)

      x   y
obs1  1   2
obs2  2   4
obs3  3   6
obs4  4   8
obs5  5  10

En este caso, al parámetro `index` le hemos pasado una lista con 5 strings.

**¡Cuidado!.** Al construir un dataframe a partir de un diccionario (o cualquier objeto de `Python` que contenga algún diccionario), los nombres de las columnas son las claves del diccionario. Si quisiésemos cambiarlos con el parámetro `columns` directamente, nos pasaría lo siguiente:

In [5]:
d = {"a": [1, 2, 3],
     "b": [4, 5, 6],
     "b1": [7, 8, 9]}

df = pd.DataFrame(d, columns = ["a", "b", "c", "a"]) 
print(df)

   a  b    c  a
0  1  4  NaN  1
1  2  5  NaN  2
2  3  6  NaN  3

**Observación.** Si queremos crear un dataframe a partir de un diccionario, pero queremos menos columnas que total de claves tiene el diccionario, no hay problema, siempre y cuando los nombres de las columnas indicados coincidan con las claves del diccionario

In [6]:
# Construimos un dataframe solo con las columnas a y b del diccionario d
df = pd.DataFrame(d, columns = ["a", "b"], index = ["una", "dos", "tres"]) 
print(df)

      a  b
una   1  4
dos   2  5
tres  3  6

---

#### Ejemplo 4

Vamos a crear el mismo dataframe de 5 filas y 2 columnas, esta vez a partir de una lista de diccionarios.

In [7]:
data = [{"x": 1, "y": 2},
        {"x": 2, "y": 4},
        {"x": 3, "y": 6},
        {"x": 4, "y": 8},
        {"x": 5, "y": 10}]
df4 = pd.DataFrame(data = data)
print(df4)

   x   y
0  1   2
1  2   4
2  3   6
3  4   8
4  5  10

---

#### Ejemplo 5

Incluso podemos crear un dataframe haciendo uso de la función `zip()`.

Para ello, a partir de dos listas, creamos una lista de tuplas, que es la que proporcionamos al parámetro `data` de la función `DataFrame()` para construir el dataframe.

In [8]:
x = [1, 2, 3, 4, 5]
y = [2, 4, 6, 8, 10]

data = list(zip(x, y))
print(data)

[(1, 2), (2, 4), (3, 6), (4, 8), (5, 10)]

In [9]:
df5 = pd.DataFrame(data, columns = ["x", "y"])
print(df5)

   x   y
0  1   2
1  2   4
2  3   6
3  4   8
4  5  10

---

### Creando dataframes con `.from_dict()`

Para construir dataframes a partir de un diccionario, existe el método `.from_dict()`

In [10]:
d = {"a": [1, 2, 3],
     "b": [4, 5, 6],
     "b1": [7, 8, 9]}

df = pd.DataFrame.from_dict(d)
print(df)

   a  b  b1
0  1  4   7
1  2  5   8
2  3  6   9

Lo interesante de este método es que podemos crear un dataframe a partir de un diccionario donde cada clave represente una fila (observación) diferente, gracias al parámetro `orient`

In [11]:
d = {"fila1": [1, 4, 7],
     "fila2": [2, 5, 8],
     "fila3": [3, 6, 9]}

df = pd.DataFrame.from_dict(d)
print(df)

   fila1  fila2  fila3
0      1      2      3
1      4      5      6
2      7      8      9

In [12]:
d = {"fila1": [1, 4, 7],
     "fila2": [2, 5, 8],
     "fila3": [3, 6, 9]}

df = pd.DataFrame.from_dict(d, orient = "index", columns = ["A", "B", "C"])
print(df)

       A  B  C
fila1  1  4  7
fila2  2  5  8
fila3  3  6  9

**¡Cuidado!** Para poder usar el parámetro `columns` del método `.from_dict()`, necesitamos que el parámetro `orient` valga `"index"`.

**Observación.** Si no indicásemos el parámetro `orient`, por defecto vale `"columns"`, con lo cual el diccionario suministrado a `data` sería interpretado del siguiente modo: cada clave representaría una columna diferente, tal cual ocurría cuando no usábamos el método `.from_dict()`. Si por el contrario indicamos que `orient = "index"`, lo que estamos haciendo es decirle a `Python` que cada clave del diccionario representa una fila (observación) diferente.

### Dimensiones del dataframe

Con el método `.shape` podemos calcular las dimensiones (número de filas y columnas) del dataframe.

In [13]:
df.shape

(3, 3)

Como resultado obtenemos una tupla donde el primer elemento es el número de filas, que en nuestro caso es 5, mientras que el segundo elemento es el número de columnas, que en nuestro ejemplo era 2.

In [14]:
nrows = df.shape[0]
ncols = df.shape[1]
print("El número de filas de df es", nrows)
print("El número de columnas de df es", ncols)

El número de filas de df es 3
El número de columnas de df es 3

Con el método `.size` calculamos el número total de valores que tienes el dataframe (número de filas por número de columnas)

In [15]:
df.size

9

In [16]:
df.shape[0] * df.shape[1] == df.size

True

Finalmente, con el método `.ndim` calculamos el número de dimensiones que tiene el dataframe. Éste siempre valdrá 2, pues consta de filas y columnas.

In [17]:
df.ndim

2

Ejercicios con María

Vamos a crear un dataframe de 10 filas y 5 columnas.

- La primera col será word y contendrá 10 palabras.
- la segunda col será length y contendrá la longitud de cada palabra
- la tercera col será start y contendra la primera letra de la palabra
- la cuarta col será end y contendrá la última letra de la palabra
- la quienta col será isPalindrome y contrndrá valores bool indicando si es o no plaindroma

A continuación, vamos a transfomrar la columna word en los nombres de las filas utilzando el metodo set_index().

finalmente, calcularemos las dimensiones de uestro dateframe.

In [18]:
def is_palindrome(word):
    """
    Devuelve si la palabra word es palindroma.
    Args:
        word: palabra
    Returns: 
        isPalindrome : Booleano    
    """
    word = word.lower()
    l = []
    isPalindrome = True
    for c in word:
        l.append(c)
    n = len(l)
    for i in range(int(n / 2)):
        if l[i] != l[n - (i + 1)]:
            isPalindrome = False
    return isPalindrome

words = ["sol", "ala", "cama", "duro", "bueno", "kayak", "marea", "rotor", "misterio", "acurruca"]
data = {"word": words,
        "length": map(len, words),
        "start": map(lambda w: w[0], words),
        "end": map(lambda w: w[-1], words),
        "isPalindrome": map(is_palindrome, words)}

import pandas as pd
words = pd.DataFrame(data) #se crea el dateframe
words.head()

    word  length start end  isPalindrome
0    sol       3     s   l         False
1    ala       3     a   a          True
2   cama       4     c   a         False
3   duro       4     d   o         False
4  bueno       5     b   o         False

In [19]:
words = words.set_index("word") #Se colocan los títulos de las filas con los datos de la primera columna
words.head()

       length start end  isPalindrome
word
sol         3     s   l         False
ala         3     a   a          True
cama        4     c   a         False
duro        4     d   o         False
bueno       5     b   o         False

In [20]:
words.index.names = [None] #Se elmina el nombre de la primera columna
words.head()

       length start end  isPalindrome
sol         3     s   l         False
ala         3     a   a          True
cama        4     c   a         False
duro        4     d   o         False
bueno       5     b   o         False

In [21]:
words.shape #Conseguimos el número de filasy columnas

(10, 4)

## Subdataframes

**Subdataframe.** Dado un dataframe, un subdataframe no es más que la selección de unas filas y columnas en particular.

### Columnas

Dado un dataframe, podemos seleccionar una columna en particular de diversas formas:

- Indicando el nombre de la columna entre claudators, `[]`
- Con el método `.columns[]`
- Con el método `.loc[]` (por nombre o etiqueta)
- Con el método `.iloc[]` (por posición)

In [22]:
fdata = {"Name": ["Alicia", "Bill", "Carlos", "Diana"],
        "Age": [22, 28, 19, 34],
        "Pet": [True, False, False, True],
        "Height": [157, 190, 175, 164],
        "Birthday": ["Mayo", "Junio", "Agosto", "Diciembre"]}
        
df = pd.DataFrame(data = fdata, index = ["obs1", "obs2", "obs3", "obs4"])

In [23]:
df

        Name  Age    Pet  Height   Birthday
obs1  Alicia   22   True     157       Mayo
obs2    Bill   28  False     190      Junio
obs3  Carlos   19  False     175     Agosto
obs4   Diana   34   True     164  Diciembre

In [24]:
# Seleccionamos la columna Birthday por nombre
print(df["Birthday"])

obs1         Mayo
obs2        Junio
obs3       Agosto
obs4    Diciembre
Name: Birthday, dtype: object

In [25]:
# Seleccionamos la columna Birthday con el método .columns[]
print(df[df.columns[4]])

obs1         Mayo
obs2        Junio
obs3       Agosto
obs4    Diciembre
Name: Birthday, dtype: object

In [26]:
# Seleccionamos la columna Birthday con el método .loc[]
print(df.loc[:, "Birthday"])

obs1         Mayo
obs2        Junio
obs3       Agosto
obs4    Diciembre
Name: Birthday, dtype: object

**Observación.** Al método `.loc[]` le hemos indicado que tome todas las filas con `:` en la primera posición y la columna `"Birthday"` directamente indicando su nommbre en la segunda posición.

In [27]:
# Seleccionamos la columna Birthday con el método .iloc[]
print(df.iloc[:, 4])

obs1         Mayo
obs2        Junio
obs3       Agosto
obs4    Diciembre
Name: Birthday, dtype: object

In [28]:
print(df.iloc[1, 4])

Junio

**Observación.** Al método `.iloc[]` le hemos indicado que tome todas las filas con `:` en la primera posición y la columna `"Birthday"` indicando el índice que ocupa como columna.

Si quisiésemos seleccionar más de una columna, podríamos hacerlo con todas las opciones enumeradas anteriormente, con ligeras modificaciones en algunos casos:

In [29]:
# Seleccionamos las columnas Name y Age por nombre
print(df[["Name", "Age"]])

        Name  Age
obs1  Alicia   22
obs2    Bill   28
obs3  Carlos   19
obs4   Diana   34

In [30]:
# Seleccionamos las columnas Name y Age con el método .columns[]
print(df[df.columns[[0, 1]]])

        Name  Age
obs1  Alicia   22
obs2    Bill   28
obs3  Carlos   19
obs4   Diana   34

**Observación.** Además, como estas dos columnas están seguidas en nuestro dataframe, podríamos también usar la sintaxis siguiente no solo en esta opción, sino también en el resto de opciones que hemos visto.

In [31]:
print(df[df.columns[0:2]])

        Name  Age
obs1  Alicia   22
obs2    Bill   28
obs3  Carlos   19
obs4   Diana   34

In [32]:
# Seleccionamos las columnas Name y Age con el método .loc[]
print(df.loc[:, ["Name", "Age"]])

        Name  Age
obs1  Alicia   22
obs2    Bill   28
obs3  Carlos   19
obs4   Diana   34

In [33]:
print(df.loc[:, "Name":"Age"])

        Name  Age
obs1  Alicia   22
obs2    Bill   28
obs3  Carlos   19
obs4   Diana   34

**¡Cuidado!** Como podemos ver, al usar `:` con strings, el indicado a la derecha sí que es incluido.

In [34]:
# Seleccionamos las columnas Name y Age con el método .iloc[]
print(df.iloc[:, [0, 1]])

        Name  Age
obs1  Alicia   22
obs2    Bill   28
obs3  Carlos   19
obs4   Diana   34

In [35]:
print(df.iloc[:, 0:2])

        Name  Age
obs1  Alicia   22
obs2    Bill   28
obs3  Carlos   19
obs4   Diana   34

Ejercicios con María

Del dataframe words creado en el ejercicio anterior, vamos a mostrar cada columna por separado con un bucle for.

Finalmente, vamos a quedarnos con las 3 últimas columnas, y este nuevo subdataframe lo guardaremos en una nueva variable, words2, para no modificar el dataframe original.

In [36]:
words.head()

       length start end  isPalindrome
sol         3     s   l         False
ala         3     a   a          True
cama        4     c   a         False
duro        4     d   o         False
bueno       5     b   o         False

In [37]:
for col in list(words): #Devuelve la lista de las columnas
    print("=== {} ===".format(col.upper()))
    print(words[col], end = "\n\n\n")

=== LENGTH ===
sol         3
ala         3
cama        4
duro        4
bueno       5
kayak       5
marea       5
rotor       5
misterio    8
acurruca    8
Name: length, dtype: int64


=== START ===
sol         s
ala         a
cama        c
duro        d
bueno       b
kayak       k
marea       m
rotor       r
misterio    m
acurruca    a
Name: start, dtype: object


=== END ===
sol         l
ala         a
cama        a
duro        o
bueno       o
kayak       k
marea       a
rotor       r
misterio    o
acurruca    a
Name: end, dtype: object


=== ISPALINDROME ===
sol         False
ala          True
cama        False
duro        False
bueno       False
kayak        True
marea       False
rotor        True
misterio    False
acurruca     True
Name: isPalindrome, dtype: bool

In [38]:
words2 = words.iloc[:, 1:]
words2.head()

      start end  isPalindrome
sol       s   l         False
ala       a   a          True
cama      c   a         False
duro      d   o         False
bueno     b   o         False

### Filas

Dado un dataframe, podemos seleccionar una fila en particular de diversas formas:

- Con el método `.loc[]` (por nombre o etiqueta)
- Con el método `.iloc[]` (por posición)

In [39]:
# Seleccionamos la primera observación (obs1) con el método .loc[]
print(df.loc["obs1"])

Name        Alicia
Age             22
Pet           True
Height         157
Birthday      Mayo
Name: obs1, dtype: object

In [40]:
type(df.loc["obs1"])

pandas.core.series.Series

In [41]:
# Seleccionamos la última observación con el método .iloc[]
print(df.iloc[-1])

Name            Diana
Age                34
Pet              True
Height            164
Birthday    Diciembre
Name: obs4, dtype: object

Si quisiésemos seleccionar más de una fila, podríamos hacerlo con todas las opciones enumeradas anteriormente, con ligeras modificaciones en algunos casos:

In [42]:
# Seleccionamos la segunda y tercera observación con el método .loc[]
print(df.loc[["obs2","obs3"]])

        Name  Age    Pet  Height Birthday
obs2    Bill   28  False     190    Junio
obs3  Carlos   19  False     175   Agosto

**Observación.** Además, como estas dos filas están seguidas en nuestro dataframe, podríamos también usar la sintaxis siguiente no solo en esta opción, sino también en el resto de opciones que hemos visto.

In [43]:
print(df.loc["obs2":"obs3"])

        Name  Age    Pet  Height Birthday
obs2    Bill   28  False     190    Junio
obs3  Carlos   19  False     175   Agosto

In [44]:
# Seleccionamos la segunda y tercera observación con el método .iloc[]
print(df.iloc[[1, 2]])

        Name  Age    Pet  Height Birthday
obs2    Bill   28  False     190    Junio
obs3  Carlos   19  False     175   Agosto

In [45]:
print(df.iloc[1:3])

        Name  Age    Pet  Height Birthday
obs2    Bill   28  False     190    Junio
obs3  Carlos   19  False     175   Agosto

### Filas y columnas

Para seleccionar un elemento en concreto, hay que indicar la fila y la columna y lo podemos hacer de dos formas:

- Con el método `.loc[]` (por nombre o etiqueta)
- Con el método `.iloc[]` (por índice)

In [46]:
# Seleccionamos la edad de la segunda observación con el método .loc[]
print(df.loc["obs2", "Age"])

28

In [47]:
# Seleccionamos la edad de la segunda observación con el método .iloc[]
print(df.iloc[1, 1])

28

Si queremos seleccionar un subconjunto de filas y columnas, podemos utilizar los dos métodos anteriores

In [48]:
# Seleccionamos la segunda y tercera fila y las columnas nombre y cumpleaños
# Con el método .loc[]
print(df.loc["obs2":"obs3", ["Name", "Birthday"]])

        Name Birthday
obs2    Bill    Junio
obs3  Carlos   Agosto

In [49]:
# Con el método .iloc[]
print(df.iloc[1:3, [0, 4]])

        Name Birthday
obs2    Bill    Junio
obs3  Carlos   Agosto

## Métodos de dataframes

El método `.head()` sirve para visualizar las primeras filas del dataframe. Por defecto, se nos mostrarán las 5 primeras

In [50]:
import pandas as pd

In [51]:
d = {"fruit": ["sandía", "melón", "manzana", "cerezas", "plátano", "pera", "melocotón", "fresas"],
     "count": [1, 1, 6, 10, 3, 6, 4, 10]}

df = pd.DataFrame(d)

In [52]:
df.head() #VAlor por defecto = 5

     fruit  count
0   sandía      1
1    melón      1
2  manzana      6
3  cerezas     10
4  plátano      3

Si queremos que se nos muestre un número determinado de filas, tenemos que indicarlo por parámetro:

In [53]:
df.head(3)

     fruit  count
0   sandía      1
1    melón      1
2  manzana      6

In [54]:
df.head(6)

     fruit  count
0   sandía      1
1    melón      1
2  manzana      6
3  cerezas     10
4  plátano      3
5     pera      6

El método `.tail()` sirve para visualizar las últimas filas del dataframe. Por defecto, se nos mostrarán las 5 últimas

In [55]:
df.tail()

       fruit  count
3    cerezas     10
4    plátano      3
5       pera      6
6  melocotón      4
7     fresas     10

Si queremos que se nos muestre un número determinado de filas, tenemos que indicarlo por parámetro:

In [56]:
df.tail(3)

       fruit  count
5       pera      6
6  melocotón      4
7     fresas     10

In [57]:
df.tail(6)

       fruit  count
2    manzana      6
3    cerezas     10
4    plátano      3
5       pera      6
6  melocotón      4
7     fresas     10

El método `.copy()` nos sirve para realizar una copia de un dataframe.

Si simplemente realizamos

In [58]:
fruits = df

El dataframe llamado `fruits` es solo una referencia del dataframe original `df` pues si realizamos algún cambio en `fruits`, se realiza también en `df`

In [59]:
fruits.iloc[6, 0] = "naranja"
fruits

     fruit  count
0   sandía      1
1    melón      1
2  manzana      6
3  cerezas     10
4  plátano      3
5     pera      6
6  naranja      4
7   fresas     10

In [60]:
df

     fruit  count
0   sandía      1
1    melón      1
2  manzana      6
3  cerezas     10
4  plátano      3
5     pera      6
6  naranja      4
7   fresas     10

En cambio, si `fruits` es definido como

In [61]:
fruits = df.copy()

entonces ahora sí es una copia independiente del dataframe original y por muchos cambios que hagamos sobre dicha copia, el original se mantiene intacto

In [62]:
fruits.iloc[6, 0] = "nectarina"
fruits

       fruit  count
0     sandía      1
1      melón      1
2    manzana      6
3    cerezas     10
4    plátano      3
5       pera      6
6  nectarina      4
7     fresas     10

In [63]:
df

     fruit  count
0   sandía      1
1    melón      1
2  manzana      6
3  cerezas     10
4  plátano      3
5     pera      6
6  naranja      4
7   fresas     10

El método `.rename()` se puede utilizar tanto para cambiar las etiquetas de las filas como los nombres de las columnas. 

**¡Cuidado!** Para que los cambios se guarden en el dataframe original, necesitamos indicar `inplace = True`, de lo contrario, lo único que estamos haciendo es duplicar el dataframe, cambiando el nombre de las filas o columnas

In [64]:
df.rename(columns = {"fruit": "fruta",
                     "count": "cantidad"})
df

     fruit  count
0   sandía      1
1    melón      1
2  manzana      6
3  cerezas     10
4  plátano      3
5     pera      6
6  naranja      4
7   fresas     10

In [65]:
# Cambiamos el nombre de las columnas al dataframe original
df.rename(columns = {"fruit": "fruta",
                     "count": "cantidad"},
          inplace = True)
df

     fruta  cantidad
0   sandía         1
1    melón         1
2  manzana         6
3  cerezas        10
4  plátano         3
5     pera         6
6  naranja         4
7   fresas        10

In [66]:
df.rename(index = {0: "obs1",
                   1: "obs2",
                   7: "obs8"})
df

     fruta  cantidad
0   sandía         1
1    melón         1
2  manzana         6
3  cerezas        10
4  plátano         3
5     pera         6
6  naranja         4
7   fresas        10

In [67]:
# Cambiamos el nombre de las filas al dataframe original
df.rename(index = {0: "obs1",
                   1: "obs2",
                   7: "obs8"},
          inplace = True)
df

        fruta  cantidad
obs1   sandía         1
obs2    melón         1
2     manzana         6
3     cerezas        10
4     plátano         3
5        pera         6
6     naranja         4
obs8   fresas        10

Con el método `.columns` también podemos cambiar el nombre de las columnas:

In [68]:
df.columns

Index(['fruta', 'cantidad'], dtype='object')

In [69]:
df.columns = ["FRUTA", "CANTIDAD"]
df

        FRUTA  CANTIDAD
obs1   sandía         1
obs2    melón         1
2     manzana         6
3     cerezas        10
4     plátano         3
5        pera         6
6     naranja         4
obs8   fresas        10

El método `.insert()` inserta una nueva columna a un dataframe existente

In [70]:
df.insert(loc = 2, column = "PRECIO", value = [2.50, 2.00, 0.35, 0.10, 0.35, 0.20, 0.15, 0.05])
df

        FRUTA  CANTIDAD  PRECIO
obs1   sandía         1    2.50
obs2    melón         1    2.00
2     manzana         6    0.35
3     cerezas        10    0.10
4     plátano         3    0.35
5        pera         6    0.20
6     naranja         4    0.15
obs8   fresas        10    0.05

Al parámetro `loc` le indicamos el índice que ocupará la nueva columna; al parámetro `column` le pasamos el nombre de la nueva columna; y al parámetro `value`, los valores para cada una de las filas.

**Observación.** Si al parámetro `loc` le pasamos un índice ya ocupado por otra columna, se desplazan la columna existente y las de índices superiores un índice a la derecha.

**Observación.** Si al parámetro `value` solo le pasamos un valor, éste será el mismo para todas las filas

In [71]:
df.insert(1, "COLOR", "rojo")
df.insert(4, "COMPRAR", False)
df

        FRUTA COLOR  CANTIDAD  PRECIO  COMPRAR
obs1   sandía  rojo         1    2.50    False
obs2    melón  rojo         1    2.00    False
2     manzana  rojo         6    0.35    False
3     cerezas  rojo        10    0.10    False
4     plátano  rojo         3    0.35    False
5        pera  rojo         6    0.20    False
6     naranja  rojo         4    0.15    False
obs8   fresas  rojo        10    0.05    False

El método `.drop()` nos permite borrar las filas o columnas que indiquemos

**¡Cuidado!** De nuevo, si queremos aplicar directamente los cambios al dataframe original, necesitamos indicar `inplace = True`

In [72]:
# Eliminamos filas (axis = 0) por etiqueta
df_dropped = df.drop(labels = ["obs1", 4], axis = 0)
df_dropped

        FRUTA COLOR  CANTIDAD  PRECIO  COMPRAR
obs2    melón  rojo         1    2.00    False
2     manzana  rojo         6    0.35    False
3     cerezas  rojo        10    0.10    False
5        pera  rojo         6    0.20    False
6     naranja  rojo         4    0.15    False
obs8   fresas  rojo        10    0.05    False

In [73]:
# Eliminamos columnas (axis = 1) por etiqueta
df_dropped = df.drop(labels = ["COLOR", "PRECIO"], axis = 1)
df_dropped

        FRUTA  CANTIDAD  COMPRAR
obs1   sandía         1    False
obs2    melón         1    False
2     manzana         6    False
3     cerezas        10    False
4     plátano         3    False
5        pera         6    False
6     naranja         4    False
obs8   fresas        10    False

El método `.pop()` elimina la columna que indiquemos por parámetro

In [74]:
column_popped = df.pop("COLOR")
df

        FRUTA  CANTIDAD  PRECIO  COMPRAR
obs1   sandía         1    2.50    False
obs2    melón         1    2.00    False
2     manzana         6    0.35    False
3     cerezas        10    0.10    False
4     plátano         3    0.35    False
5        pera         6    0.20    False
6     naranja         4    0.15    False
obs8   fresas        10    0.05    False

In [75]:
column_popped

obs1    rojo
obs2    rojo
2       rojo
3       rojo
4       rojo
5       rojo
6       rojo
obs8    rojo
Name: COLOR, dtype: object

In [76]:
# Volvemos a añadir la columna recientemente eliminada al final del dataframe con una sintaxis que no habíamos visto todavía
df["COLOR"] = column_popped
df

        FRUTA  CANTIDAD  PRECIO  COMPRAR COLOR
obs1   sandía         1    2.50    False  rojo
obs2    melón         1    2.00    False  rojo
2     manzana         6    0.35    False  rojo
3     cerezas        10    0.10    False  rojo
4     plátano         3    0.35    False  rojo
5        pera         6    0.20    False  rojo
6     naranja         4    0.15    False  rojo
obs8   fresas        10    0.05    False  rojo

El método `.rank()` devuelve un ranking.

Si por ejemplo queremos un ranking por fruta, el método `.rank()` nos devolverá una columna de posiciones correspondientes a la posición que ocupa cada fruta si estas son ordenadas alfabéticamente

**Observación.** El ranking empieza siempre en 1.

In [77]:
df["RANKING_FRUTA"] = df["FRUTA"].rank()
df

        FRUTA  CANTIDAD  PRECIO  COMPRAR COLOR  RANKING_FRUTA
obs1   sandía         1    2.50    False  rojo            8.0
obs2    melón         1    2.00    False  rojo            4.0
2     manzana         6    0.35    False  rojo            3.0
3     cerezas        10    0.10    False  rojo            1.0
4     plátano         3    0.35    False  rojo            7.0
5        pera         6    0.20    False  rojo            6.0
6     naranja         4    0.15    False  rojo            5.0
obs8   fresas        10    0.05    False  rojo            2.0

Con el parámetro `ascending`, que por defecto vale `True`, podemos indicar si queremos que el ranking sea en orden ascendente o descendente.

In [78]:
df["RANKING_PRECIO"] = df["PRECIO"].rank(ascending = True)
df

        FRUTA  CANTIDAD  PRECIO  COMPRAR COLOR  RANKING_FRUTA  RANKING_PRECIO
obs1   sandía         1    2.50    False  rojo            8.0             8.0
obs2    melón         1    2.00    False  rojo            4.0             7.0
2     manzana         6    0.35    False  rojo            3.0             5.5
3     cerezas        10    0.10    False  rojo            1.0             2.0
4     plátano         3    0.35    False  rojo            7.0             5.5
5        pera         6    0.20    False  rojo            6.0             4.0
6     naranja         4    0.15    False  rojo            5.0             3.0
obs8   fresas        10    0.05    False  rojo            2.0             1.0

El método `.nunique()` devuelve el conteo de cuántos valores únicos hay en cada columna

In [79]:
df.nunique()

FRUTA             8
CANTIDAD          5
PRECIO            7
COMPRAR           1
COLOR             1
RANKING_FRUTA     8
RANKING_PRECIO    7
dtype: int64

Dada una columna de un dataframe, el método `.unique()` devuelve un array con los valores únicos de dicha columna

In [80]:
print(df["COLOR"].unique())

['rojo']

In [81]:
print(df["PRECIO"].unique())

[2.5  2.   0.35 0.1  0.2  0.15 0.05]

El método `.duplicated()` nos ayuda a analizar los valores duplicados. El parámetro `keep` sirve para controlar como proceder con los valores duplicados:

  * `first`: considera la primera aparición del valor repetido como único y el resto como duplicados
  * `last`: considera la última aparición del valor repetido como único y el resto como duplicados
  * `False`: considera todos los repetidos iguales como duplicados

In [82]:
bool_duplicated = df["CANTIDAD"].duplicated(keep = False)
df[bool_duplicated]

        FRUTA  CANTIDAD  PRECIO  COMPRAR COLOR  RANKING_FRUTA  RANKING_PRECIO
obs1   sandía         1    2.50    False  rojo            8.0             8.0
obs2    melón         1    2.00    False  rojo            4.0             7.0
2     manzana         6    0.35    False  rojo            3.0             5.5
3     cerezas        10    0.10    False  rojo            1.0             2.0
5        pera         6    0.20    False  rojo            6.0             4.0
obs8   fresas        10    0.05    False  rojo            2.0             1.0

El método `.drop_duplicates()` elimina los duplicados del dataframe. De nuevo, volvemos a tener el parámetro `keep` y el parámetro `subset` sirve para indicar las columnas a las que queremos aplicar el método:

**Observación.** Para que los cambios sean llevados a cabo en el dataframe original, habrá que indicar `inplace = True`

In [83]:
df_without_duplicates = df.drop_duplicates(subset = "CANTIDAD",
                                           keep = "first")
df_without_duplicates

        FRUTA  CANTIDAD  PRECIO  COMPRAR COLOR  RANKING_FRUTA  RANKING_PRECIO
obs1   sandía         1    2.50    False  rojo            8.0             8.0
2     manzana         6    0.35    False  rojo            3.0             5.5
3     cerezas        10    0.10    False  rojo            1.0             2.0
4     plátano         3    0.35    False  rojo            7.0             5.5
6     naranja         4    0.15    False  rojo            5.0             3.0

El método `.nsmallest()` nos devuelve las $n$ filas con menor valor de la columna que indiquemos por parámetro

In [84]:
# Queremos las 3 observaciones con menor precio
df.nsmallest(3, "PRECIO")

        FRUTA  CANTIDAD  PRECIO  COMPRAR COLOR  RANKING_FRUTA  RANKING_PRECIO
obs8   fresas        10    0.05    False  rojo            2.0             1.0
3     cerezas        10    0.10    False  rojo            1.0             2.0
6     naranja         4    0.15    False  rojo            5.0             3.0

El método `.largest()` nos devuelve las $n$ filas con mayor valor de la columna que indiquemos por parámetro

In [85]:
# Queremos las 5 observaciones con mayor cantidad
df.nlargest(5, "CANTIDAD")

        FRUTA  CANTIDAD  PRECIO  COMPRAR COLOR  RANKING_FRUTA  RANKING_PRECIO
3     cerezas        10    0.10    False  rojo            1.0             2.0
obs8   fresas        10    0.05    False  rojo            2.0             1.0
2     manzana         6    0.35    False  rojo            3.0             5.5
5        pera         6    0.20    False  rojo            6.0             4.0
6     naranja         4    0.15    False  rojo            5.0             3.0

El método `.dtypes` nos indica de qué tipo es cada columna del dataframe

In [86]:
df.dtypes

FRUTA              object
CANTIDAD            int64
PRECIO            float64
COMPRAR              bool
COLOR              object
RANKING_FRUTA     float64
RANKING_PRECIO    float64
dtype: object

Ejercicios con María

Del dataframe words, vamos a mostrar las 5 primeras filas, las 5 últimas filas y después, vamos a guardar una copia en la variable words_copy. Finalmente, vamos a modificar los nombres de las columnas de words_copy a "Longitud", "Principio", "Fin", "Palindromo".

In [87]:
words.head(5)

       length start end  isPalindrome
sol         3     s   l         False
ala         3     a   a          True
cama        4     c   a         False
duro        4     d   o         False
bueno       5     b   o         False

In [88]:
words.tail(5)

          length start end  isPalindrome
kayak          5     k   k          True
marea          5     m   a         False
rotor          5     r   r          True
misterio       8     m   o         False
acurruca       8     a   a          True

In [89]:
words

          length start end  isPalindrome
sol            3     s   l         False
ala            3     a   a          True
cama           4     c   a         False
duro           4     d   o         False
bueno          5     b   o         False
kayak          5     k   k          True
marea          5     m   a         False
rotor          5     r   r          True
misterio       8     m   o         False
acurruca       8     a   a          True

In [90]:
words_copy = words.copy()
words_copy.rename(columns = {"length": "Longitud",
                             "start": "Principio",
                             "end": "Fin",
                             "isPalindrome": "Palindromo"}, inplace = True) #Me parece más correcto esto que sobreescribir la lista (inplace = True)
words_copy

          Longitud Principio Fin  Palindromo
sol              3         s   l       False
ala              3         a   a        True
cama             4         c   a       False
duro             4         d   o       False
bueno            5         b   o       False
kayak            5         k   k        True
marea            5         m   a       False
rotor            5         r   r        True
misterio         8         m   o       False
acurruca         8         a   a        True

## Bucles y dataframes

Para iterar sobre las filas de un dataframe, podemos utilizar los métodos:

- `.iterrows()`
- `.itertuples()`

In [91]:
d = {"name": ["Juan Gabriel", "María", "Ricardo"],
     "surname": ["Gomila", "Santos", "Alberich"],
     "gender": ["m", "f", "m"]}

df = pd.DataFrame(d)
df

           name   surname gender
0  Juan Gabriel    Gomila      m
1         María    Santos      f
2       Ricardo  Alberich      m

Usamos `.iterrows()` para obtener el índice de cada fila junto al contenido de cada una:

In [92]:
for i, j in df.iterrows():
  print("Índice de la fila: {},\n\nContenido de la fila:\n{}".format(i, j), end = "\n\n\n")

Índice de la fila: 0,

Contenido de la fila:
name       Juan Gabriel
surname          Gomila
gender                m
Name: 0, dtype: object


Índice de la fila: 1,

Contenido de la fila:
name        María
surname    Santos
gender          f
Name: 1, dtype: object


Índice de la fila: 2,

Contenido de la fila:
name        Ricardo
surname    Alberich
gender            m
Name: 2, dtype: object

Usamos `.itertuples()` para obtener una tupla con toda la información de cada fila:

In [93]:
for i in df.itertuples():
  print("Contenido de la fila:\n{}".format(i), end = "\n\n")

Contenido de la fila:
Pandas(Index=0, name='Juan Gabriel', surname='Gomila', gender='m')

Contenido de la fila:
Pandas(Index=1, name='María', surname='Santos', gender='f')

Contenido de la fila:
Pandas(Index=2, name='Ricardo', surname='Alberich', gender='m')

Para iterar sobre las columnas de un dataframe, 

- creamos una lista de las columnas del dataframe y luego iterarmos sobre esa lista para obtener la información de esas columnas
- usamos el métood `.iteritems()`

Creamos la lista de columnas e iteramos sobre esta:

In [94]:
columns = list(df)
print(columns)

['name', 'surname', 'gender']

In [95]:
for c in columns:
  print("Columna {}:\n{}".format(c, df[c]), end = "\n\n")

Columna name:
0    Juan Gabriel
1           María
2         Ricardo
Name: name, dtype: object

Columna surname:
0      Gomila
1      Santos
2    Alberich
Name: surname, dtype: object

Columna gender:
0    m
1    f
2    m
Name: gender, dtype: object

Usamos `.iteritems()` para obtener el nombre de cada columna junto al contenido de cada una:

In [96]:
for i, j in df.iteritems():
  print("Nombre de la columna: {},\n\nContenido de la columna:\n{}".format(i, j), end = "\n\n\n")

Nombre de la columna: name,

Contenido de la columna:
0    Juan Gabriel
1           María
2         Ricardo
Name: name, dtype: object


Nombre de la columna: surname,

Contenido de la columna:
0      Gomila
1      Santos
2    Alberich
Name: surname, dtype: object


Nombre de la columna: gender,

Contenido de la columna:
0    m
1    f
2    m
Name: gender, dtype: object

Ejercicios con María

Vamos a mostrar las filas del dataframe words con el siguiente formato: "La palabra {idn_fila} {si/no} es un palíndromo de longitud {long} letras.

In [97]:
words

          length start end  isPalindrome
sol            3     s   l         False
ala            3     a   a          True
cama           4     c   a         False
duro           4     d   o         False
bueno          5     b   o         False
kayak          5     k   k          True
marea          5     m   a         False
rotor          5     r   r          True
misterio       8     m   o         False
acurruca       8     a   a          True

In [98]:
for row in words.itertuples():
    print("La palabra {}{} es un palíndromo de longitud {} letras.".
          format(row[0], "" if row[4] else " no", row[1]))

La palabra sol no es un palíndromo de longitud 3 letras.
La palabra ala es un palíndromo de longitud 3 letras.
La palabra cama no es un palíndromo de longitud 4 letras.
La palabra duro no es un palíndromo de longitud 4 letras.
La palabra bueno no es un palíndromo de longitud 5 letras.
La palabra kayak es un palíndromo de longitud 5 letras.
La palabra marea no es un palíndromo de longitud 5 letras.
La palabra rotor es un palíndromo de longitud 5 letras.
La palabra misterio no es un palíndromo de longitud 8 letras.
La palabra acurruca es un palíndromo de longitud 8 letras.

## Dataframes a partir de archivos CSV

Podemos guardar la información de un archivo csv en un dataframe usando la función `read_csv()`.

El archivo puede

- estar guardado en nuestro directorio de trabajo
- proceder de una url

### Desde directorio de trabajo (con Google Drive)

Vamos a cargar el archivo llamado `characters-simpsons.csv` que tenemos guardado en la carpeta datasets de Google Drive.

Para ello, lo primero que tenemos que hacer es conectar este notebook de Colab con Google Drive.

A continuación, navegamos por nuestro Google Drive hasta encontrar el archivo csv en cuestión. De sus opciones, seleccionamos copiar ruta. Esa ruta será la que pasemos por parámetro a la función `read_csv()`

In [99]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [100]:
simpsons_df = pd.read_csv("/content/drive/MyDrive/Datasets/characters-simpsons.csv")
simpsons_df.head()

   id              name   normalized_name gender
0   7          Children          children    NaN
1  12  Mechanical Santa  mechanical santa    NaN
2  13        Tattoo Man        tattoo man    NaN
3  16  DOCTOR ZITSOFSKY  doctor zitsofsky    NaN
4  20          Students          students    NaN

In [101]:
simpsons_df.tail()

        id             name  normalized_name gender
6717  5222   Ron Rabinowitz   ron rabinowitz      m
6718  5728   Martha Stewart   martha stewart      f
6719  1770  Officer Goodman  officer goodman      m
6720  1634     Evan Conover     evan conover      m
6721  1868    Agent Johnson    agent johnson      m

### Desde url

Vamos a cargar el archivo que contiene la frecuencia de aparición de las letras del alfabeto inglés. Este archivo se llama letter_frequency.csv procede de la siguiente [url](https://people.sc.fsu.edu/~jburkardt/data/csv/letter_frequency.csv)

In [102]:
letters_freq_df = pd.read_csv("https://people.sc.fsu.edu/~jburkardt/data/csv/letter_frequency.csv")
letters_freq_df.columns = ["Letra", "Frecuencia", "Porcentaje"] 
letters_freq_df

      Letra  Frecuencia  Porcentaje
0       "A"    24373121         8.1
1       "B"     4762938         1.6
2       "C"     8982417         3.0
3       "D"    10805580         3.6
4       "E"    37907119        12.6
5       "F"     7486889         2.5
6       "G"     5143059         1.7
7       "H"    18058207         6.0
8       "I"    21820970         7.3
9       "J"      474021         0.2
10      "K"     1720909         0.6
11      "L"    11730498         3.9
12      "M"     7391366         2.5
13      "N"    21402466         7.1
14      "O"    23215532         7.7
15      "P"     5719422         1.9
16      "Q"      297237         0.1
17      "R"    17897352         5.9
18      "S"    19059775         6.3
19      "T"    28691274         9.5
20      "U"     8022379         2.7
21      "V"     2835696         0.9
22      "W"     6505294         2.2
23      "X"      562732         0.2
24      "Y"     5910495         2.0
25      "Z"       93172         0.0

Ejercicios con María

Vamos a cargar un csv desde una url y a continuación vamos a eliminar todos los valores NA

In [103]:
import pandas as pd
sw = pd.read_csv("https://gist.githubusercontent.com/jncraton/68beb88e6027d9321373/raw/381dcf8c0d4534d420d2488b9c60b1204c9f4363/starwars.csv")
sw.head()

   SetID Number  Variant  ... Owned Wanted  QtyOwned
0   5860  10179        1  ...    No     No         0
1   6522  10188        1  ...    No     No         0
2   4799  10143        1  ...    No     No         0
3  23529  75059        1  ...    No     No         0
4   8733  10221        1  ...    No     No         0

[5 rows x 17 columns]

In [104]:
sw.shape

(508, 17)

In [105]:
sw = sw.dropna()
sw.shape

(155, 17)

## Dataframes a partir de archivos JSON

Podemos guardar la información de un archivo json en un dataframe usando el método `.read_json()`.

El archivo puede

- estar guardado en nuestro directorio de trabajo
- proceder de una url

### Desde directorio de trabajo (con Google Drive)

Vamos a cargar el archivo llamado `json_index_example.json` que tenemos guardado en la carpeta datasets de Google Drive.

Para ello, lo primero que tenemos que hacer es conectar este notebook de Colab con Google Drive.

A continuación, navegamos por nuestro Google Drive hasta encontrar el archivo json en cuestión. De sus opciones, seleccionamos copiar ruta. Esa ruta será la que pasemos por parámetro al método `.read_json()`

In [106]:
import pandas as pd
quiz_index = pd.read_json("/content/drive/MyDrive/Datasets/json_index_example.json", 
                          orient = "index")
quiz_index.head()

    Producto  Precio  Cantidad
0  Bolígrafo    1.80         3
1      Lápiz    0.30         2
2    Libreta    5.20         1
3     Agenda    9.99         1
4  Rotulador    1.15         5

#### El parámetro `orient`

En el caso de archivos json, podría darse que no tuvieran la misma configuración que nuestro ejemplo, `json_index_example.json` cuya orientación se corresponde con `index`.

El parámetro `orient` del método `.read_json()` admite otras opciones como `columns` o `values`.

Veamos ambos casos con los ficheros `json_columns_example.json` y `json_values_example.json`, respectivamente.

In [107]:
# Orientación con index
quiz_columns = pd.read_json("/content/drive/MyDrive/Datasets/json_columns_example.json", 
                    orient = "columns")
quiz_columns.head()

    Producto  Precio  Cantidad
0  Bolígrafo    1.80         3
1      Lápiz    0.30         2
2    Libreta    5.20         1
3     Agenda    9.99         1
4  Rotulador    1.15         5

In [108]:
# Orientación con values
quiz_values = pd.read_json("/content/drive/MyDrive/Datasets/json_values_example.json",
                           orient = "values")
quiz_values.head()

           0     1  2
0  Bolígrafo  1.80  3
1      Lápiz  0.30  2
2    Libreta  5.20  1
3     Agenda  9.99  1
4  Rotulador  1.15  5

### Desde url

Vamos a cargar el archivo json que procede de la siguiente [url](https://api.exchangerate-api.com/v4/latest/USD)

In [109]:
from_url = pd.read_json("https://api.exchangerate-api.com/v4/latest/USD")
from_url.head()

                             provider  ...   rates
AED  https://www.exchangerate-api.com  ...    3.67
AFN  https://www.exchangerate-api.com  ...   80.14
ALL  https://www.exchangerate-api.com  ...  102.44
AMD  https://www.exchangerate-api.com  ...  491.51
ANG  https://www.exchangerate-api.com  ...    1.79

[5 rows x 7 columns]

## Tratamiento de datos faltantes

Los datos faltantes, o en inglés, Missing Data, se dan cuando no hay información para uno o más elementos.

Éste es un problema muy común en la vida real.

En la librería `pandas`, identificamos los missing data con valores `NA` (Not Available) o `NaN` (Not a Number).

Para identificar valores fanltantes en un dataframe de `pandas` , podemos usar los métodos `.isnull()` o `.notnull()`

In [110]:
# Nos devuelve True allí donde hay un dato faltante
simpsons_df.isnull().head()

      id   name  normalized_name  gender
0  False  False            False    True
1  False  False            False    True
2  False  False            False    True
3  False  False            False    True
4  False  False            False    True

In [111]:
# Nos devuelve False allí donde hay un dato faltante
simpsons_df.notnull().head()

     id  name  normalized_name  gender
0  True  True             True   False
1  True  True             True   False
2  True  True             True   False
3  True  True             True   False
4  True  True             True   False

Existen muchas técnicas para tratar con valores faltantes: se sustituyen por la media, por la mediana, se elimina la observación, se interpolan... nosotros no entraremos en detalle en ese aspecto. Simplemente veremos los métodos de `Python` que podemos utilizar para tratar con valores faltantes:

- `.fillna()`
- `.replace()`
- `.interpolate()`
- `.dropna()`

El método `.fillna()` sustituye los valores faltantes por el valor que indiquemos por parámetro

In [112]:
# Necesitamos la librería numpy para crear un dataframe con valores NaN
import numpy as np

In [113]:
data = {"Primer lanzamiento": [100, 86, np.nan, 75, 97],
        "Segundo lanzamiento": [80, np.nan, 63, 81, 88],
        "Tercer lanzamiento": [93, 89, 92, 97, np.nan]
        }

points_df = pd.DataFrame(data, index = ["Jugador 1", "Jugador 2", "Jugador 3", "Jugador 4", "Jugador 5"])
points_df

           Primer lanzamiento  Segundo lanzamiento  Tercer lanzamiento
Jugador 1               100.0                 80.0                93.0
Jugador 2                86.0                  NaN                89.0
Jugador 3                 NaN                 63.0                92.0
Jugador 4                75.0                 81.0                97.0
Jugador 5                97.0                 88.0                 NaN

In [114]:
# Sustituimos todos los NaN por 0 puntos
points_df.fillna(0)

           Primer lanzamiento  Segundo lanzamiento  Tercer lanzamiento
Jugador 1               100.0                 80.0                93.0
Jugador 2                86.0                  0.0                89.0
Jugador 3                 0.0                 63.0                92.0
Jugador 4                75.0                 81.0                97.0
Jugador 5                97.0                 88.0                 0.0

Para sustituir valores faltantes con el método `.replace()` lo hacemos del siguiente modo: primero pasamos por parámetro el valor que queremos sustituir y luego, el valor por el cual queremos sustituirlo.

In [115]:
points_df = pd.DataFrame(data, index = ["Jugador 1", "Jugador 2", "Jugador 3", "Jugador 4", "Jugador 5"])
points_df.replace(np.nan, 0)

           Primer lanzamiento  Segundo lanzamiento  Tercer lanzamiento
Jugador 1               100.0                 80.0                93.0
Jugador 2                86.0                  0.0                89.0
Jugador 3                 0.0                 63.0                92.0
Jugador 4                75.0                 81.0                97.0
Jugador 5                97.0                 88.0                 0.0

Si usamos el método `.interpolate()`, sustituiremos los valores `NaN` por valores interpolados. Este método consta de muchos parámetros para elegir el método (que por defecto es `linear`) por el cual llevar a cabo la interpolación.

In [116]:
points_df = pd.DataFrame(data, index = ["Jugador 1", "Jugador 2", "Jugador 3", "Jugador 4", "Jugador 5"])
points_df.interpolate()

           Primer lanzamiento  Segundo lanzamiento  Tercer lanzamiento
Jugador 1               100.0                 80.0                93.0
Jugador 2                86.0                 71.5                89.0
Jugador 3                80.5                 63.0                92.0
Jugador 4                75.0                 81.0                97.0
Jugador 5                97.0                 88.0                97.0

El método `.dropna()` elimina las filas que contienen valores faltantes.

In [117]:
points_df = pd.DataFrame(data, index = ["Jugador 1", "Jugador 2", "Jugador 3", "Jugador 4", "Jugador 5"])
points_df.dropna()

           Primer lanzamiento  Segundo lanzamiento  Tercer lanzamiento
Jugador 1               100.0                 80.0                93.0
Jugador 4                75.0                 81.0                97.0

## Filtrando dataframes

Dado un dataframe, podemos filtrar sus filas comprobando cuáles satisfacen una condición

In [118]:
# Mostramos las observaciones con porcentaje mayor a 5
letters_freq_df[letters_freq_df["Porcentaje"] > 5]

      Letra  Frecuencia  Porcentaje
0       "A"    24373121         8.1
4       "E"    37907119        12.6
7       "H"    18058207         6.0
8       "I"    21820970         7.3
13      "N"    21402466         7.1
14      "O"    23215532         7.7
17      "R"    17897352         5.9
18      "S"    19059775         6.3
19      "T"    28691274         9.5

In [119]:
# Mostramos las observaciones con frecuencia menor o igual a la de la letra S
freq_S = letters_freq_df.loc[18, "Frecuencia"]
letters_freq_df[letters_freq_df["Frecuencia"] <= freq_S]

      Letra  Frecuencia  Porcentaje
1       "B"     4762938         1.6
2       "C"     8982417         3.0
3       "D"    10805580         3.6
5       "F"     7486889         2.5
6       "G"     5143059         1.7
7       "H"    18058207         6.0
9       "J"      474021         0.2
10      "K"     1720909         0.6
11      "L"    11730498         3.9
12      "M"     7391366         2.5
15      "P"     5719422         1.9
16      "Q"      297237         0.1
17      "R"    17897352         5.9
18      "S"    19059775         6.3
20      "U"     8022379         2.7
21      "V"     2835696         0.9
22      "W"     6505294         2.2
23      "X"      562732         0.2
24      "Y"     5910495         2.0
25      "Z"       93172         0.0

El método `.query()` nos puede ser útil para este cometido, pero funciona únicamente cuando los valores de la columna no contienen espacios en blanco.

In [120]:
# Mostramos aquellas observaciones cuyo porcentaje es mayor a 5
letters_freq_df.query('Porcentaje > 5')

      Letra  Frecuencia  Porcentaje
0       "A"    24373121         8.1
4       "E"    37907119        12.6
7       "H"    18058207         6.0
8       "I"    21820970         7.3
13      "N"    21402466         7.1
14      "O"    23215532         7.7
17      "R"    17897352         5.9
18      "S"    19059775         6.3
19      "T"    28691274         9.5

In [121]:
# Mostramos aquellas observaciones cuyo porcentaje es mayor a 5 y menor o igual a 8
letters_freq_df.query("Porcentaje > 5 and Porcentaje <= 8")

      Letra  Frecuencia  Porcentaje
7       "H"    18058207         6.0
8       "I"    21820970         7.3
13      "N"    21402466         7.1
14      "O"    23215532         7.7
17      "R"    17897352         5.9
18      "S"    19059775         6.3

## Series de `pandas`

**Serie.** Una Serie de `pandas` es como una columna de un dataframe.

Podemos construir Series de `pandas` a partir de una lista unidimensional

In [122]:
a = [1, 2, 3, 4, 5]
my_series = pd.Series(a)
print(my_series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

**Observación.** Si no especificamos nada, por defecto las etiquetas de las entradas de la Serie se corresponden con el índice que ocupan. Recordemos que en `Python` lo índices empiezan por 0.

Estas etiquetas pueden ser usadas para acceder a un valor específico

In [123]:
print(my_series[1])

2

Cuando creamos una Serie, podemos modificar sus etiquetas con el parámetro `index`:

In [124]:
my_series = pd.Series(a, index = ["a", "b", "c", "d", "e"])
print(my_series)

a    1
b    2
c    3
d    4
e    5
dtype: int64

Ahora, para acceder a una entrada en particular, lo haremos con las nuevas etiquetas:

In [125]:
print(my_series["c"])

3

También podemos crear Series a partir de diccionarios. En este caso, las claves se corresponderán con las etiquetas de las series, y los valores del diccionario con los valores que toman las entradas de la Serie.

In [126]:
videos = {"day1": 5, "day2": 9, "day3": 7, "day4": 6, "day5": 8}
my_series = pd.Series(videos)
print(my_series)

day1    5
day2    9
day3    7
day4    6
day5    8
dtype: int64

Ejercicios con María

Del dataframe words vamos a tansformar la columna start a dataframe para iterar sobre sus filas.
A continuación vamos a transformar la columna length en la lista para eliminar una de sus entradas con el método .remove()

In [127]:
start_df = words["start"].to_frame()

for row in start_df.itertuples():
    print("La palabra {} empieza por {}".format(row[0], row[1]))

La palabra sol empieza por s
La palabra ala empieza por a
La palabra cama empieza por c
La palabra duro empieza por d
La palabra bueno empieza por b
La palabra kayak empieza por k
La palabra marea empieza por m
La palabra rotor empieza por r
La palabra misterio empieza por m
La palabra acurruca empieza por a

In [128]:
length_list = words["length"].tolist()
print(length_list)

[3, 3, 4, 4, 5, 5, 5, 5, 8, 8]

In [129]:
length_list.remove(3)
print(length_list)

[3, 4, 4, 5, 5, 5, 5, 8, 8]