In [ ]:
#Se importa la libreria pandas para trabajar con ella en todos los ejercicios
import pandas as pd

Ejercicio 1

Crea un dataframe con 15 filas y 2 columnas. La primera columna se llamará x, la segunda y. Cada entrada
será un número real a tu elección. Guarda el dataframe en una variable llamada points.

In [ ]:
#Se crea un diccionario con los valores
dict_values = {"x": [1, 3, 5, -7.1, 9, 11, -13, -15.7, 17, -19, 21, -23.3, 25, -27, -29],
               "y": [2, -4, 6.6, 8, -10, 12.1, 14, -16.9, 18, 20, 22.9, 24, 26, -28.5, 30]}

#Se crea el DataFrame y se muestra
df = pd.DataFrame(data = dict_values)
df

Ejercicio 2

Del dataset points, muestra las filas cuyo valor en la columna x sea positivo.

In [9]:
df[df["x"] < 0]

       x     y
3   -7.1   8.0
6  -13.0  14.0
7  -15.7 -16.9
9  -19.0  20.0
11 -23.3  24.0
13 -27.0 -28.5
14 -29.0  30.0

Ejercicio 3

Del dataset points, muestra las filas cuyo valor en la columna y sea negativo. Usa el método .query().

In [10]:
df.query("y < 0")

       x     y
1    3.0  -4.0
4    9.0 -10.0
7  -15.7 -16.9
13 -27.0 -28.5

Ejercicio 4

Del dataset points, muestra las observaciones cuyos puntos (x, y) pertenezcan al primer cuadrante. Usa el
método .query().

In [12]:
df.query("x > 0 & y > 0")

       x     y
0    1.0   2.0
2    5.0   6.6
5   11.0  12.1
8   17.0  18.0
10  21.0  22.9
12  25.0  26.0

Ejercicio 5

Del dataset points, muestra las observaciones de la forma: “El punto ({x}, {y}) {no/sí} pertenece al primer
cuadrante”

In [24]:
#Bucle que recorre el df obteniendo la info como tuplas, estas se consulta y si
# sus valores pertenecen o no al primer cuadrante se muestra con un si o un no
for row in df.itertuples():
    print("El punto ({},{}) {} pertenece al primer cuadrante.".format(row[1], row[2],
            "si" if row[1] > 0 and row[2] > 0 else "no"))

El punto ({},{}) 1.0 pertenece al primer cuadrante.
El punto ({},{}) 3.0 pertenece al primer cuadrante.
El punto ({},{}) 5.0 pertenece al primer cuadrante.
El punto ({},{}) -7.1 pertenece al primer cuadrante.
El punto ({},{}) 9.0 pertenece al primer cuadrante.
El punto ({},{}) 11.0 pertenece al primer cuadrante.
El punto ({},{}) -13.0 pertenece al primer cuadrante.
El punto ({},{}) -15.7 pertenece al primer cuadrante.
El punto ({},{}) 17.0 pertenece al primer cuadrante.
El punto ({},{}) -19.0 pertenece al primer cuadrante.
El punto ({},{}) 21.0 pertenece al primer cuadrante.
El punto ({},{}) -23.3 pertenece al primer cuadrante.
El punto ({},{}) 25.0 pertenece al primer cuadrante.
El punto ({},{}) -27.0 pertenece al primer cuadrante.
El punto ({},{}) -29.0 pertenece al primer cuadrante.

Ejercicio 6

Crea un dataframe con 10 filas y 4 columnas. La primera columna se llamará word; la segunda, length;
la tercera, vowels; y la última, consonants. La columna words contendrá las siguientes 10 palabras:
“euro”, “diez” “algas”, “broma”, “cicuta”, “fatiga”, “nachos”, “jadeos”, “hazañas”, “boutique”. Las columnas
length, vowels y consonants contendrán, respectivamente, la longitud, el total de vocales y el total de
consonantes. Guarda el dataframe en la variable words.

In [61]:
#Lsita de palabras dadas
list_words = ["euro", "diez", "algas", "broma", "cicuta", "fatiga", "nachos", "jadeos", "hazañas", "boutique"]

#Variables para comparar vocales y consonantes
vowels = "aeiou"
consonants = "bcdfghjklmnñpqrstvwxyz"

#Diccionario de datos
data = {"words": list_words,
         "length": map(len, list_words), #Se recorren las palabras y se cuenta su longitud
         "vowels": map(lambda c: sum(c.count(v) for v in vowels), list_words), #Se compara cada letra de cada palabra con las vocales y se suman
         "consonants": map(lambda c: sum(c.count(v) for v in consonants), list_words)} #igual que la anterior pero con las consonantes

#Se crea y guarda el DateFrame y se muestra
words = pd.DataFrame(data)
words

      words  length  vowels  consonants
0      euro       4       3           1
1      diez       4       2           2
2     algas       5       2           3
3     broma       5       2           3
4    cicuta       6       3           3
5    fatiga       6       3           3
6    nachos       6       2           4
7    jadeos       6       3           3
8   hazañas       7       3           4
9  boutique       8       5           3

Ejercicio 7

Muestra las 10 observaciones de words con el formato “La palabra {word} tiene {length} letras, de las cuales
{vowels} son vocales y {consonants} consonantes”.

In [65]:
for row in words.itertuples():
    print("La palabra {} tiene {} letras, de las cuales {} son vocales y {} consonates.".
          format(row[1], row[2], row[3], row[4]))

La palabra euro tiene 4 letras, de las cuales 3 son vocales y 1 consonates.
La palabra diez tiene 4 letras, de las cuales 2 son vocales y 2 consonates.
La palabra algas tiene 5 letras, de las cuales 2 son vocales y 3 consonates.
La palabra broma tiene 5 letras, de las cuales 2 son vocales y 3 consonates.
La palabra cicuta tiene 6 letras, de las cuales 3 son vocales y 3 consonates.
La palabra fatiga tiene 6 letras, de las cuales 3 son vocales y 3 consonates.
La palabra nachos tiene 6 letras, de las cuales 2 son vocales y 4 consonates.
La palabra jadeos tiene 6 letras, de las cuales 3 son vocales y 3 consonates.
La palabra hazañas tiene 7 letras, de las cuales 3 son vocales y 4 consonates.
La palabra boutique tiene 8 letras, de las cuales 5 son vocales y 3 consonates.

Ejercicio 8

Muestra aquellas observaciones de words que tienen el mismo número de vocales y consonantes. Usa el
método .query().

In [67]:
words.query("vowels == consonants")

    words  length  vowels  consonants
1    diez       4       2           2
4  cicuta       6       3           3
5  fatiga       6       3           3
7  jadeos       6       3           3

Ejercicio 9

Investiga el método .sort_values() para ordenar las observaciones según la longitud de las palabras en
orden descendente.

In [71]:
words.sort_values(by = "length", ascending = False)

      words  length  vowels  consonants
9  boutique       8       5           3
8   hazañas       7       3           4
4    cicuta       6       3           3
5    fatiga       6       3           3
6    nachos       6       2           4
7    jadeos       6       3           3
2     algas       5       2           3
3     broma       5       2           3
0      euro       4       3           1
1      diez       4       2           2

Ejercicio 10

Convierte la columna vowels a lista y, con sorted() ordénala de mayor a menor. Investiga para ello el
método .tolist().

In [84]:
sorted(words["vowels"].tolist(), reverse = True)

[5, 3, 3, 3, 3, 3, 2, 2, 2, 2]